:root {
  --primary-green: #16A64D;
  --secondary-green: #55CB82;
  --tertiary-green: #CAEFD8;
  --primary-red: #E2006A;
  --secondary-red: #FE93B3;
  --tertiary-red: #EED2DF;
  --primary-blue: #004FB4;
  --grey-1: #4F6C92;
  --grey-2: #A4B8D3;
  --grey-3: #CBD2E1;
  --grey-4: #F1F4F8;
  --grey-5: #F7F8FB;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 67.5%;
}

body {
  font-family: sans-serif, serif;
  font-size: 1.6rem;
}

.spinner-green {
  height: 14px;
}