:root {
  --primary-green: #16A64D;
  --secondary-green: #55CB82;
  --tertiary-green: #CAEFD8;
  --primary-red: #E2006A;
  --secondary-red: #FE93B3;
  --tertiary-red: #EED2DF;
  --primary-blue: #004FB4
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 67.5%;
}

body {
  font-family: sans-serif, serif;
}

.spinner-green {
  height: 14px;
}